[Desktop Entry]
Name=eleMemory
GenericName=Memory game
Comment=Play memory
Categories=Game;BoardGame;KidsGame;GTK;
Exec=com.github.heiko-m.elememory
Icon=com.github.heiko-m.elememory
Terminal=false
Type=Application
StartupNotify=true
Keywords=Cognitive;
